
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0447b00f79.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>The Spork</title>
</head>
<body>
<header th:fragment="navigation">
    <nav class="header__nav">
        <i class="fa-solid fa-utensils fa-3x" id="logo"></i>
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__itemlink" sec:authorize="isAuthenticated()"
                   th:href="@{/users/user-profile-page}">PROFILE</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="">HOME</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" sec:authorize="!isAuthenticated()" th:href="@{/users/login}">LOGIN</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" sec:authorize="!isAuthenticated()" th:href="@{/users/register}">REGISTER</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" sec:authorize="!isAuthenticated()" th:href="@{/about}">ABOUT</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" sec:authorize="!isAuthenticated()" th:href="@{/contacts}">CONTACT</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav__item">
                <form th:action="@{/logout}" method="POST">
                    <button id="logout__button" class="nav__itemlink" type="submit">LOGOUT</button>
                </form>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/adminPage}">ADMIN</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>