@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("reset.css");
@import url("typography.css");
@import url("components.css");
@import url("navigation.css");
@import url("footer.css");
@import url("profile-page.css");

:root {
  --color-primary: #d0ff95;
  --color-gray: #424448;
  --color-red-dark: #400000;
  --color-white: #fff;

  /* --shadow-base: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); */
   --navi-height: 58px;
}

main {
  margin-top: var(--navi-height);
  background-image: url(/images/background-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
