.header__nav {
    background-color: var(--color-primary);
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
}

.nav__list {
    margin-right: 2rem;
    margin-left: auto;
    display: flex;
}

.nav__item .nav__itemlink {
    padding-inline: 1rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    border: none;
    background: transparent;
}

.nav__item .nav__itemlink:hover {
    padding: 0.7rem;
    border-radius: 49%;
    background-color: black;
    color: white;
    font-weight: bolder;
}

#logout__button {
    margin-top: -7px;
}
#logout__button:hover {
    padding: 0.15rem;
    margin-top: -7px;
}