@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("sidebar.css");

.container {
    margin-top: 1.5rem;
    border-radius: 0px !important;
    padding-inline: 0%;
    min-width: 98vw;
}

.register, .login, .restaurantAdd, .profile-page {
    max-width: 30vw;
    max-height: 80vh;
    margin: 5rem auto 0 auto;
    padding: 1rem 2rem;
    border: 1px solid black;
}

.top3 {
    margin-top: -2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.logout, .logout:hover {
    color: white;
    text-decoration: none;
}

.footer-div {
    background-color: white;
    bottom: 0;
}

.footer-p {
    margin-bottom: -1rem !important;
}

.selectForm {
    width: 11.49em;
}

.mainDiv {
    margin-top: 5rem;
}

.restaurantsDiv {
    margin-bottom: 1rem;
}

.change-password-link, .change-password-link:hover {
    color: white;
    text-decoration: none;
}

.buttonnn {
    max-width: 81%;
    padding-inline: 3.5rem;
}

.containerUserRestaurants, .containerAllRestaurants {
    border: 1px solid black;
    margin: 5rem auto;
    padding: 2rem;
    max-width: 81vw;
}

.colRight {
    margin: 1rem auto;
}

.rowRight {
    text-align: center;
    margin: 1rem auto;
}

.restaurantRating {
    padding-inline: 1rem;
    display: inline;
}

.write-review {
    margin-top: 1rem;
    color: black;
}

.profile-image {
    max-width: 30%;
    max-height: 90%;
}
