<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head">
    <title>The Spork</title>
</head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class="container">
    <div class="col-md-7 col-lg-8 login">
        <h4 class="mb-3">Login</h4>
        <div th:if="${bad_credentials}" class="alert alert-danger" role="alert">
            This username and password combination does not exist.
        </div>
        <form th:action="@{/users/login}" method="POST" class="needs-validation">
            <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                    <input type="text" name="username" class="form-control" id="username"
                           required
                           placeholder="Username">
                    <div class="invalid-feedback">
                        Your username is required.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <div class="input-group has-validation">
                    <input type="password" name="password" class="form-control" id="password"
                           required
                           placeholder="Password">
                    <div class="invalid-feedback">
                        Your password is required.
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Login</button>
        </form>
    </div>
</main>
<div th:replace="fragments/commons :: footer"></div>
</body>

</html>