<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">User Register</h5>
                    <form th:action="@{/restaurants/restaurant-add}" th:object="${restaurantAddBindingModel}" method="POST">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-floating mb-3">
                                        <label for="floatingInputUsername">Restaurant Name</label>
                                        <input name="username"
                                               th:value="*{restaurantName}"
                                               th:errorclass="is-invalid"
                                               type="text" class="form-control" id="floatingInputUsername"
                                               required autofocus minlength="3" maxlength="20">
                                        <small id="restaurantNameError"
                                               class="invalid-feedback text-light form-text bg-danger rounded">Restaurant Name
                                            length must be more than 3 characters</small>

<!--                                        <small th:if="${RestaurantExistsError}" id="RestaurantUniqueError"-->
<!--                                               class="text-light form-text bg-danger rounded">Restaurant name is already-->
<!--                                            occupied</small>-->
                                    </div>
                                    <select th:field="*{cuisine}" class="form-select" aria-label="Default select example">
                                        <option selected>Select type of cuisine</option>
                                        <option th:each="c : ${T(bg.softuni.thespork.model.entities.enums.Cuisine).values()}"
                                                        th:text="${c}" th:value="${c}">Cuisine</option>
                                    </select>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <button class="btn btn-default" type="submit">
                                        <img th:src="@{/images/registerIcon.png}" width="270" alt="registerIcon"/>
                                    </button>
                                </div>
                            </div>
                            <hr class="my-4">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>